.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.col {
  position: relative;
  width:calc(100% / 3);
  float:left;
  height:80vh;

  
      -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
}


.disc {

  float:top;
  
  height:calc(1.8vh);
  position:relative;
  /*padding: 50px;*/
  /*border: 50px solid green;*/

  background-color: green
}

.col1 {
  background-color: red
}

.col2 {
  background-color: blue
}

.col3 {
  background-color: white
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
