.App {
  text-align: center;
}

.col {
  position: relative;
  width:calc(100% / 3);
  float:left;
  height:80vh; 
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
}

.disc {
  float:top;
  height:calc(1.2vh);
  position:relative;
  border: 1px solid black;
}

.col1 {
  background-color: #ef9292
}

.col2 {
  background-color: #42adf4
}

.col3 {
  background-color: #92ef98
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

button:hover {
    color: #ffffff;
    background-color: #555555;
  }

button, select{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}